## 1. What are data structures, and why are they important?
  -> A data structure is a organize way to store and manange data to perform    
     operation efficiently.
     Data structure is important in programming because it make our data more readable, effective,scalable, better memory ususage.

## 2. Explain the difference between mutable and immutable data types with examples?
  -> the Key difference between mutable and imutable data type is that in mutable we can assign a new value to a exisiting varible or element while in immutable data type after assign a value to an element we cannot change or assign a new value to same element.
  example of mutable data type is list, dictionary and set.
  example of immutable data tpye is tuple, string

## 3.  What are the main differences between lists and tuples in Python?
  -> The main difference between lists and tuple are the following

*   Lists are mutable in nuture whereas tuple are immutable
*   Lists consume more memory compare to tuple
*   tuples are faster in excution compare to list

## 4.Describe how dictionaries store data?
  -> A dictionary in Python is a collection of key-value pairs where each key maps to a specific value. It is implemented using a hash table, which ensures fast lookup, insertion, and deletion operations.Keys must be unique and immutable.Values can be mutable and of any data type

## 5.Why might you use a set instead of a list in Python ?
  ->A set is an unordered collection of unique elements, while a list can have duplicate values and set also having faster lookup compare to list.

 ##  6.What is a string in Python, and how is it different from a list?
 -> A string in Python is a sequence of characters enclosed in quotes (single and double quotes). It is immutable, meaning once created, it cannot be changed

 there are following difference between string and list.

1.   string are sequencial character while list are sequenical to any data type.
2.   strings are immutable while list are mutable

## 7. How do tuples ensure data integrity in Python ?
  -> tuples ensure data integrity in python, because tuple is immutable, once a value is assigned it cannot be changed later

## 8. What is a hash table, and how does it relate to dictionaries in Python?
  -> A hash table is a data structure that stores key-value pairs and allows for fast data retrieval. It works by using a hash function to compute an index (or hash code) for a given key, which determines where the corresponding value should be stored. hash table makes dictionaries
Fast key-value lookups,Efficient insertion and deletion,Automatic handling of collisions

## 9. Can lists contain different data types in Python?
  -> Yes a list can contain different types in python like string,integer,float,boolen etc.

## 10.  Explain why strings are immutable in Python?
  -> Strings in Python are immutable for efficiency, security, and reliability. This enables string better  for memory optimization, ensures consistent hashing for dictionary keys, prevents unintended modifications, and enhances thread safety. Instead of modifying, Python creates new strings* making programs more predictable and reducing bugs caused by accidental changes.

## 11. What advantages do dictionaries offer over lists for certain tasks?
  -> Dictionaries offer faster lookups (O(1) on average) compared to lists, which require O(n) time for searching. They allow key-value pair mapping, making them ideal for tasks like counting, grouping, or associating data. Dictionaries also provide direct access to elements using keys, unlike lists, which require indexing.

## 12. Describe a scenario where using a tuple would be preferable over a list?
  -> A tuple is preferable over a list when immutability and performance are important.
   Scenario: Database Records (Ensuring Data Integrity)
  1.When storing fixed, unchangeable data like a database row, a tuple is ideal:
  2.Prevents accidental modifications
  3.More memory-efficient and faster than lists

## 13. How do sets handle duplicate values in Python?
  -> Sets in Python automatically remove duplicates because they store only unique elements. When adding a duplicate value, the set ignores it. This is achieved using hashing, ensuring fast lookups (O(1) on average). Sets are useful for removing duplicates from lists and performing set operations like union and intersection. ðŸš€

## 14.How does the â€œinâ€ keyword work differently for lists and dictionaries?
   -> The in keyword is used to check for the existence of an element, but it works differently for lists and dictionaries in terms of behavior and performance.

1. in with Lists (Checks Values, O(n) Time Complexity)
The in keyword searches through all elements of a list.
It performs a linear search (O(n)), meaning it checks each element one by one.
2. in with Dictionaries (Checks Keys, O(1) on Average)
In a dictionary, in checks only keys, not values.
Lookup is much faster (O(1) on average) because dictionaries use hashing.

## 15. Can you modify the elements of a tuple? Explain why or why not?
  -> No, you cannot modify any item of a tuple because tuples are immutable in Python. following are the reason
 1.Memory Efficiency & Performance - Tuples are stored in a way that optimizes memory usage.
 2.Hashability - Tuples can be used as dictionary keys or set elements because they don"t change.
 3.Data Integrity - Prevents accidental modification, making them ideal for fixed data like coordinates or database records.

## 16. What is a nested dictionary, and give an example of its use case?
  -> A nested dictionary is a dictionary inside another dictionary, allowing for a hierarchical data structure.
  Use Case- Storing Student Records,A school system can use a nested dictionary to store multiple students' details:

## 17. Describe the time complexity of accessing elements in a dictionary?
  -> Time Complexity of Accessing Elements in a Dictionary
In Python, dictionaries use a hash table for storage, which makes element access highly efficient.
1. Average Case (O(1)) - Fast Lookup
Accessing an element by key is O(1) on average because the dictionary uses hashing to find the key directly.
2. Worst Case (O(n)) -Rare Collisions
If many keys hash to the same value (hash collisions), Python resolves them using chaining (storing multiple values in a bucket).
In the worst case, searching could become O(n) if all elements end up in the same bucket.
This is rare because Python optimizes hashing and resizes dictionaries to maintain efficiency.

##18.In what situations are lists preferred over dictionaries?
  ->Lists are preferred when order matters, for small datasets, or when indexed access is needed. They allow duplicates, support fast iteration, and use less memory than dictionaries. Lists are also ideal for sorting, slicing, and sequential processing, making them suitable for queues, ordered data, and numerical computations.

## 19.Why are dictionaries considered unordered, and how does that affect data retrieval?
  -> Dictionaries were historically unordered because they use hash tables for fast key lookups instead of maintaining order. Since Python 3.7+, they preserve insertion order, but retrieval is still key-based, not index-based. This means you can't access elements by position, only by keys, ensuring fast lookups (O(1) on average)

## 20. Explain the difference between a list and a dictionary in terms of data retrieval.?
  -> A list retrieves data using index-based access, meaning elements are accessed by position (list[index]). This allows O(1) retrieval but requires O(n) time for searching specific values.

A dictionary retrieves data using key-based access (dict[key]), leveraging hashing for O(1) average-time lookups. Unlike lists, dictionaries do not support index-based access, and elements must be retrieved by their keys.

While lists maintain a strict order and allow duplicate values, dictionaries (since Python 3.7) preserve insertion order but enforce unique keys. Lists are best for sequences, while dictionaries excel in fast lookups and key-value mapping

In [ ]:
# 1.Write a code to create a string with your name and print it?
a = "Anuj kumar singh"
print(a)

Anuj kumar singh

In [ ]:
#2.Write a code to find the length of the string "Hello World"?
a= "Hello World"
print(len(a))

11

In [ ]:
#3.Write a code to slice the first 3 characters from the string "Python Programming"?
b = "Python Programming"
print(b[0:3])

Pyt

In [ ]:
#4.Write a code to convert the string "hello" to uppercase?
word= "hello"
word.upper()

'HELLO'

In [ ]:
#5.Write a code to replace the word "apple" with "orange" in the string "I like apple"
st = "I like apple"
st.replace("apple","orange")

'I like orange'

In [ ]:
#6.Write a code to create a list with numbers 1 to 5 and print it?
list_a = [1,2,3,4,5]
print(list_a)

[1, 2, 3, 4, 5]

In [ ]:
#7.Write a code to append the number 10 to the list [1, 2, 3, 4]?
list_b = [1,2,3,4]
list_b.append(10)

list_b

[1, 2, 3, 4, 10]

In [ ]:
#8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]?
list_c = [1,2,3,4,5]
list_c.remove(3)
list_c

[1, 2, 4, 5]

In [ ]:
#9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']?
list_d = ['a', 'b', 'c', 'd']
list_d[1]

'b'

In [ ]:
# 10.Write a code to reverse the list [10, 20, 30, 40, 50]?
list_e = [10, 20, 30, 40, 50]
list_e.reverse()
list_e

[50, 40, 30, 20, 10]

In [ ]:
# 11.Write a code to create a tuple with the elements 100, 200, 300 and print it?
tup = (100,200,300)
print(tup)

(100, 200, 300)

In [ ]:
# 12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')?
tup_a = ('red', 'green', 'blue', 'yellow')
tup_a[-2]

'blue'

In [ ]:
# 13.Write a code to find the minimum number in the tuple (10, 20, 5, 15)?
tup_b = (10,20,5,15)
print("Minimum number in the tuple"+" "+str(min(tup_b)))

Minimum number in the tuple 5

In [ ]:
# 14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')?
tup_c = ('dog', 'cat', 'rabbit')
tup_c.index('cat')

1

In [ ]:
# 15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it?
tup_d = ("apple","banana","kiwi","mango")
"kiwi" in tup_d

True

In [1]:
# 16.Write a code to create a set with the elements 'a', 'b', 'c' and print it?
set_a = {"a","b","c"}

print(set_a)

{'a', 'c', 'b'}

In [2]:
# 17 clear all elements from the set {1, 2, 3, 4, 5}.?. Write a code to
set_b = {1,2,3,4,5}
set_b.clear()
set_b

set()

In [3]:
# 18.Write a code to remove the element 4 from the set {1, 2, 3, 4}.?
set_c = {1,2,3,4}
set_c.remove(4)
set_c

{1, 2, 3}

In [6]:
# 19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set_d = {1,2,3}
set_e = {3,4,5}
inion_a = set_d.union(set_e)
print(inion_a)

{1, 2, 3, 4, 5}

In [7]:
# 20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.?
set_f = {1,2,3}
set_g = {2,3,4}
intersection_a = set_f.intersection(set_g)
print(intersection_a)

{2, 3}

In [8]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it?
dictionary_a = {"name":"Anuj","age":22,"city":"Delhi"}
print(dictionary_a)

{'name': 'Anuj', 'age': 22, 'city': 'Delhi'}

In [9]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}?
dictionary_b = {"name":"John","age":25}
dictionary_b["country"] = "USA"
dictionary_b

{'name': 'John', 'age': 25, 'country': 'USA'}

In [10]:
# 23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.?
dictionary_c = {"name":"Alice","age":30}
dictionary_c["name"]

'Alice'

In [12]:
#24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.?
dictionary_d = {"name":"Bob","age":22,"city":"New York"}
del dictionary_d["age"]
dictionary_d

{'name': 'Bob', 'city': 'New York'}

In [13]:
#25.Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.?
dictionary_e = {"name":"Alice","city":"Paris"}
"city" in dictionary_e

True

In [14]:
#26.Write a code to create a list, a tuple, and a dictionary, and print them all.?
list_1 = [1,2,3,4]
tuple_1 = (1,2,3,4)
dictionary_1 = {"name":"Anuj","age":22}
print(list_1)
print(tuple_1)
print(dictionary_1)

[1, 2, 3, 4]
(1, 2, 3, 4)
{'name': 'Anuj', 'age': 22}

In [17]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
import random

ran = random.sample(range(1,100),5)
ran.sort()
print(ran)

[17, 31, 46, 98, 99]

In [19]:
#28.Write a code to create a list with strings and print the element at the third index.?
list_2 = ["a","b","c","d"]
list_2[3]

'd'

In [21]:
#29.Write a code to combine two dictionaries into one and print the result?
dic_1 = {"name":"Anuj","age":25}
dic_2 = {"city":"Delhi","email":"Anujraghav@gmail.com"}
dic_3 = dic_1.copy()
dic_3.update(dic_2)
dic_3

{'name': 'Anuj', 'age': 25, 'city': 'Delhi', 'email': 'Anujraghav@gmail.com'}

In [22]:
# 30. Write a code to convert a list of strings into a set?
list_3 = ["a","b","c","d"]
set_1 = set(list_3)
set_1

{'a', 'b', 'c', 'd'}